<ion-content [fullscreen]="true">
  <div class="header">
    <h1>Search</h1>
  </div>

  <ion-searchbar placeholder="Martini"></ion-searchbar>

  <div class="foodList">
    <div class="card" *ngFor="let i of drinks.data">
      <img (click)="goProfileDrink(i)" src="{{i.image}}"/>

      <div class="cardContent">
        <h3 class="title">{{i.name}}</h3>
        <h2 class="subtitle">€ {{i.price}}</h2>
      </div>

      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>