<ion-tabs>
  <ion-tab-bar slot="bottom" layout="icon-top">

    <ion-tab-button tab="research">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="favorites-drinks" layout="icon-top">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" layout="icon-top">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile-user" layout="icon-top">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>